<% layout ('/Layout/boilerplate.ejs') %>
   
    <h1>all Campgrounds</h1>
<ul>
    <% for(let camp of campground){ %>
    <li><a href="campgrounds/<%=camp._id %>"><%= camp.name %></a></li>
<% }  %>
</ul>

<a href="/campgrounds/new">Add new campground</a>
