<% layout ('/Layout/boilerplate.ejs') %>
    <form action="/campgrounds" method="post">
        <label for="name">Name
        <input type="text" id="name" name="name">
    </label>
    <label for="location">location
        <input type="text" id="location" name="location">

    </label>
    <button>submit</button>
    </form>

    <a href="/campgrounds">All campgrounds</a>
