<% layout('Layout/boilerplate') %>

<h1> Login </h1>
<form action="/login" method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="Username" class="form-label">Username
            <input class="form-control" type="text" id="Username" name="username" required>
    
        </label>
    </div>
        
        
           <div class="mb-3">
            <label for="password" class="form-label">Password
                <input class="form-control" type="password" id="password" name="password" required>
        
            </label>
           </div>
           <button class="btn-success"> Login </button>
        
</form>